extraEnvVars:
  - name: HELM_VERSION
    value: {{ requiredEnv "HELM_VERSION" }}
  - name: TEST_VAL
    value: {{ env "ARGOCD_ENV_TEST_VARIABLE_1" }}
  - name: BOOTSTRAP_CONF_VAR_1
    value: {{ env "ARGOCD_ENV_VAR_1" }}
